
.hidden
{
    display: none;
}
body
{
    
    font-family: Bangla MN;
    align-items: center;
    background: url(../images/Background_home.png) center no-repeat;
    background-size: cover;
    max-width: 1440px;


}
main
{

    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 70px;
    justify-content: space-around;


}

h2{
    font-size: 60px;
}

h3{
    font-size: 30px;
}

p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 30px;
}

#daf_home{
    margin-top: -85px;
}

#intro{
    margin-top: 40px;
    width: 600px;
}


#column3{
    text-align: right;

}

