
.hidden
{
    display: none;
}
body
{
    
    font-family: Bangla MN;
    align-items: center;
    background: url(../images/Background_M.png) center no-repeat;
    background-size: cover;
    max-width: 1440px;


}
main
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

h2{
    font-size: 60px;
}

h3{
    font-size: 30px;
    margin-bottom: 40px;
}


p{
    font-size: 15px;
    margin-top: 20px;
    line-height: 30px;
}

#photo{
    size: 70%;
    margin: 60px;
    margin-top: 40px;
}

#column1{
    margin-left: 100px;
}

#column3{
    text-align: left;
    margin-left: 100px;

}

#redName{
    margin-bottom: 100px;
}

